<!doctype html>
<html lang="en" ng-app="Prapptice">
<head>
	<meta charset="UTF-8">
	<title>Prapptice</title>
	<base href="/" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link	rel="stylesheet" href="/styles/app.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="home">Prapptice</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown" ng-if="hasToken">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entries<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ui-sref="entries">All Entries</a></li>
							<li><a ui-sref="new-entry">New Entry</a></li>
						</ul>
					</li>
					<li class="dropdown" ng-if="hasToken">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">The Gear Vault<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ui-sref="guitars">Guitars</a></li>
							<li><a ui-sref="effects">Effects</a></li>
							<li><a ui-sref="amps">Amps</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li ng-if="hasToken" class="dropdown" ng-if="hasToken">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sight Reading<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ui-sref="notes">Notes</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="hasToken"><a href="#" ng-controller="LoginController" ng-click="logout()">Logout</a></li>
					<li ng-if="!hasToken"><a ui-sref="login">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div ui-view style="padding-top: 5rem;"></div>
	<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/js/vendor/abcjs_basic_2.3-min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/Entry.js"></script>
	<script src="/js/gear/Guitar.js"></script>
	<script src="/js/gear/Effect.js"></script>
	<script src="/js/gear/Amp.js"></script>
	<script src="/js/sight-reading/SightReading.js"></script>

	<script type="text/javascript">
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	</script>
</body>
</html>
