<div class="container" ng-controller="AmpController" style="padding-top: 1rem;">
	<div class="col-xs-12 text-right">
		<a ui-sref="new-amp" class="btn btn-primary" role="button">Add Amp</a>
	</div>
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<td><b>Manufacturer</b></td>
			<td><b>Model</b></td>
			<td><b>Color</b></td>
			<td><b>Modifications</b></td>
			<td><b>Serial Number</b></td>
			<td><b>Purchase Price</b></td>
			<td><b>Current Value</b></td>
			<td class="hidden-xs" style="text-align: center;"><b>Delete</b></td>
			<td class="hidden-xs" style="text-align: center;"><b>Edit</b></td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="amp in amps">
			<td>{{amp.manufacturer}}</td>
			<td>{{amp.model}}</td>
			<td>{{amp.color}}</td>
			<td>{{amp.modifications}}</td>
			<td>{{amp.serial_number}}</td>
			<td>{{amp.value_at_purchase}}</td>
			<td>{{amp.value_at_current}}</td>
			<td class="hidden-xs" style="text-align: center;"><a href="#" ng-click="delete(amp, $index)"><i class="fa fa-ban" title="delete"></i></a></td>
			<td class="hidden-xs" style="text-align: center;"><a ui-sref="edit-amp({id: amp._id})"><i class="fa fa-pencil-square-o" title="Edit"></i></a></td>
		</tr>
		</tbody>
	</table>

	<loading-image item-to-watch="amps"></loading-image>

	<div ng-if="amps.length === 0">
		<i>No amps exist yet<br />create some to get started...</i>
	</div>
</div>
