<div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-controller="EffectController">
	<h1>Edit Effect</h1>
	<form name="editEffectForm">
		<input type="text" class="form-control input-lg" placeholder="Manufacturer" ng-model="selectedEffect.manufacturer" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Model" ng-model="selectedEffect.model" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Modifications" ng-model="selectedEffect.modifications" /><br />
		<input type="text" class="form-control input-lg" placeholder="Serial Number" ng-model="selectedEffect.serial_number" /><br />
		<input type="number" class="form-control input-lg" placeholder="Purchase Value" ng-model="selectedEffect.value_at_purchase" /><br />
		<input type="number" class="form-control input-lg" placeholder="Current Value" ng-model="selectedEffect.value_at_current" required /><br />
		<button type="button" class="btn btn-primary btn-block" ng-click="put(selectedEffect)" ng-disabled="editEffectForm.$invalid">Save</button>
	</form>
</div>
