<div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-controller="GuitarController">
	<h1>Edit Guitar</h1>
	<form name="editGuitarForm">
		<input type="text" class="form-control input-lg" placeholder="Manufacturer" ng-model="selectedGuitar.manufacturer" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Model" ng-model="selectedGuitar.model" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Color" ng-model="selectedGuitar.color" /><br />
		<input type="text" class="form-control input-lg" placeholder="Modifications" ng-model="selectedGuitar.modifications" /><br />
		<input type="text" class="form-control input-lg" placeholder="Serial Number" ng-model="selectedGuitar.serial_number" /><br />
		<input type="number" class="form-control input-lg" placeholder="Purchase Value" ng-model="selectedGuitar.value_at_purchase" /><br />
		<input type="number" class="form-control input-lg" placeholder="Current Value" ng-model="selectedGuitar.value_at_current" required /><br />
		<button type="button" class="btn btn-primary btn-block" ng-click="put(selectedGuitar)" ng-disabled="editGuitarForm.$invalid">Save</button>
	</form>
</div>
