<div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-controller="AmpController">
	<h1>Edit Amp</h1>
	<form name="editAmpForm">
		<input type="text" class="form-control input-lg" placeholder="Manufacturer" ng-model="selectedAmp.manufacturer" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Model" ng-model="selectedAmp.model" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Modifications" ng-model="selectedAmp.modifications" /><br />
		<input type="text" class="form-control input-lg" placeholder="Serial Number" ng-model="selectedAmp.serial_number" /><br />
		<input type="text" class="form-control input-lg" placeholder="Color" ng-model="selectedAmp.color" /><br />
		<input type="number" class="form-control input-lg" placeholder="Purchase Value" ng-model="selectedAmp.value_at_purchase" /><br />
		<input type="number" class="form-control input-lg" placeholder="Current Value" ng-model="selectedAmp.value_at_current" required /><br />
		<button type="button" class="btn btn-primary btn-block" ng-click="put(selectedAmp)" ng-disabled="editAmpForm.$invalid">Save</button>
	</form>
</div>
