<div class="container" ng-controller="EffectController" style="padding-top: 1rem;">
	<div class="col-xs-12 text-right">
		<a ui-sref="new-effect" class="btn btn-primary" role="button">Add Effect</a>
	</div>
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<td><b>Manufacturer</b></td>
			<td><b>Model</b></td>
			<td><b>Modifications</b></td>
			<td><b>Serial Number</b></td>
			<td><b>Purchase Price</b></td>
			<td><b>Current Value</b></td>
			<td class="hidden-xs" style="text-align: center;"><b>Delete</b></td>
			<td class="hidden-xs" style="text-align: center;"><b>Edit</b></td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="effect in effects">
			<td>{{effect.manufacturer}}</td>
			<td>{{effect.model}}</td>
			<td>{{effect.modifications}}</td>
			<td>{{effect.serial_number}}</td>
			<td>{{effect.value_at_purchase}}</td>
			<td>{{effect.value_at_current}}</td>
			<td class="hidden-xs" style="text-align: center;"><a href="#" ng-click="delete(effect, $index)"><i class="fa fa-ban" title="delete"></i></a></td>
			<td class="hidden-xs" style="text-align: center;"><a ui-sref="edit-effect({id: effect._id})"><i class="fa fa-pencil-square-o" title="Edit"></i></a></td>
		</tr>
		</tbody>
	</table>

	<loading-image item-to-watch="effects"></loading-image>

	<div ng-if="effects.length === 0">
		<i>No effects exist yet<br />create some to get started...</i>
	</div>
</div>
