<div class="container" ng-controller="GuitarController" style="padding-top: 1rem;">
	<div class="col-xs-12 text-right">
		<a ui-sref="new-guitar" class="btn btn-primary" role="button">Add Guitar</a>
	</div>
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<td><b>Manufacturer</b></td>
			<td><b>Model</b></td>
			<td><b>Color</b></td>
			<td><b>Modifications</b></td>
			<td><b>Serial Number</b></td>
			<td><b>Purchase Price</b></td>
			<td><b>Current Value</b></td>
			<td class="hidden-xs" style="text-align: center;"><b>Delete</b></td>
			<td class="hidden-xs" style="text-align: center;"><b>Edit</b></td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="guitar in guitars">
			<td>{{guitar.manufacturer}}</td>
			<td>{{guitar.model}}</td>
			<td>{{guitar.color}}</td>
			<td>{{guitar.modifications}}</td>
			<td>{{guitar.serial_number}}</td>
			<td>{{guitar.value_at_purchase}}</td>
			<td>{{guitar.value_at_current}}</td>
			<td class="hidden-xs" style="text-align: center;"><a href="#" ng-click="delete(guitar, $index)"><i class="fa fa-ban" title="delete"></i></a></td>
			<td class="hidden-xs" style="text-align: center;"><a ui-sref="edit-guitar({id: guitar._id})"><i class="fa fa-pencil-square-o" title="Edit"></i></a></td>
		</tr>
		</tbody>
	</table>

	<loading-image item-to-watch="guitars"></loading-image>

	<div ng-if="guitars.length === 0">
		<i>No guitars exist yet<br />create some to get started...</i>
	</div>
</div>
