<div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-controller="EffectController">
	<h1>Add Effect</h1>
	<form name="newEffectForm">
		<input type="text" class="form-control input-lg" placeholder="Manufacturer" ng-model="effect.manufacturer" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Model" ng-model="effect.model" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Modifications" ng-model="effect.modifications" /><br />
		<input type="text" class="form-control input-lg" placeholder="Serial Number" ng-model="effect.serial_number" /><br />
		<input type="number" class="form-control input-lg" placeholder="Purchase Value" ng-model="effect.value_at_purchase" /><br />
		<input type="number" class="form-control input-lg" placeholder="Current Value" ng-model="effect.value_at_current" required /><br />
		<button type="button" class="btn btn-primary btn-block" ng-click="post(effect)" ng-disabled="newEffectForm.$invalid">Submit</button>
	</form>
</div>
