<div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-controller="AmpController">
	<h1>Add Amp</h1>
	<form name="newAmpForm">
		<input type="text" class="form-control input-lg" placeholder="Manufacturer" ng-model="amp.manufacturer" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Model" ng-model="amp.model" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Color" ng-model="amp.color" /><br />
		<input type="text" class="form-control input-lg" placeholder="Modifications" ng-model="amp.modifications" /><br />
		<input type="text" class="form-control input-lg" placeholder="Serial Number" ng-model="amp.serial_number" /><br />
		<input type="number" class="form-control input-lg" placeholder="Purchase Value" ng-model="amp.value_at_purchase" /><br />
		<input type="number" class="form-control input-lg" placeholder="Current Value" ng-model="amp.value_at_current" required /><br />
		<button type="button" class="btn btn-primary btn-block" ng-click="post(amp)" ng-disabled="newAmpForm.$invalid">Submit</button>
	</form>
</div>
