<div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-controller="GuitarController">
	<h1>Add Guitar</h1>
	<form name="newGuitarForm">
		<input type="text" class="form-control input-lg" placeholder="Manufacturer" ng-model="guitar.manufacturer" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Model" ng-model="guitar.model" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Color" ng-model="guitar.color" /><br />
		<input type="text" class="form-control input-lg" placeholder="Modifications" ng-model="guitar.modifications" /><br />
		<input type="text" class="form-control input-lg" placeholder="Serial Number" ng-model="guitar.serial_number" /><br />
		<input type="number" class="form-control input-lg" placeholder="Purchase Value" ng-model="guitar.value_at_purchase" /><br />
		<input type="number" class="form-control input-lg" placeholder="Current Value" ng-model="guitar.value_at_current" required /><br />
		<button type="button" class="btn btn-primary btn-block" ng-click="post(guitar)" ng-disabled="newGuitarForm.$invalid">Submit</button>
	</form>
</div>
