<div ng-controller="SightReadingController">
	<div id="sightReadingToolbox">
		<div class="form-group">
			<label for="sharps">Sharps</label>
			<input type="checkbox" id="sharps" ng-model="sightReaderConfig.sharps">
		</div>
		<div class="form-group">
			<label for="flats">Flats</label>
			<input type="checkbox" id="flats" ng-model="sightReaderConfig.flats">
		</div>
	</div>
	<div style="text-align: center; padding-bottom: 2rem; margin-top: -5rem;">
		<button type="button" ng-click="update()" class="btn btn-primary" style="width: 25%;">Generate</button>
	</div>
	<div id="notation"></div>
	<loading-image item-to-watch="sightReaderIsLoaded"></loading-image>
</div>
