<div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-controller="EntryController">
	<h1>Edit Entry</h1>
	<form name="editEntryForm">
		<input type="text" class="form-control input-lg" placeholder="Summary" ng-model="selectedEntry.summary" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Notes" ng-model="selectedEntry.notes" /><br />
		<input type="number" class="form-control input-lg" placeholder="Duration" ng-model="selectedEntry.duration" /><br />
		<input type="text" class="form-control input-lg" placeholder="Category" ng-model="selectedEntry.category" /><br />
		<button type="button" class="btn btn-primary btn-block" ng-click="put(selectedEntry)" ng-disabled="editEntryForm.$invalid">Save</button>
	</form>
</div>
