<div class="container" ng-controller="EntryController" style="padding-top: 1rem;">
	<div class="col-xs-12 text-right">
		<a ui-sref="new-entry" class="btn btn-primary" role="button">Add Entry</a>
	</div>
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<td><b>Date</b></td>
			<td><b>Summary</b></td>
			<td><b>Notes</b></td>
			<td><b>Duration</b></td>
			<td><b>Category</b></td>
			<td class="hidden-xs" style="text-align: center;"><b>Delete</b></td>
			<td class="hidden-xs" style="text-align: center;"><b>Edit</b></td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="entry in entries">
			<td>{{entry.created_at | date : 'short' }}</td>
			<td>{{entry.summary}} <small class="hidden-sm" ng-if="entry.updated_at !== entry.created_at"><i>(last updated: {{entry.updated_at | date : 'short' }})</i></small></td>
			<td>{{entry.notes}}</td>
			<td>{{entry.duration}} <span class="hidden-xs" ng-if="entry.duration === 1">Hour</span><span class="hidden-xs" ng-if="entry.duration && (entry.duration > 1 || entry.duration < 1)">Hours</span></td>
			<td>{{entry.category}}</td>
			<td class="hidden-xs" style="text-align: center;"><a href="#" ng-click="delete(entry, $index)"><i class="fa fa-ban" title="delete"></i></a></td>
			<td class="hidden-xs" style="text-align: center;"><a ui-sref="edit-entry({id: entry._id})"><i class="fa fa-pencil-square-o" title="Edit"></i></a></td>
		</tr>
		</tbody>
	</table>

	<loading-image item-to-watch="entries"></loading-image>

	<div ng-if="entries.length === 0">
		<i>No entries exist yet<br />create some to get started...</i>
	</div>
</div>
