<div class="container">
	<h1>Home</h1>
	<div ng-controller="HomeController">
		With the help of Prapptice, musicians have logged {{hours}} hours and counting.  <a ui-sref="signup">Join us</a>!
	</div>
</div>
