<div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-controller="LoginController">
	<h1>Login</h1>
	<form name="loginForm">
		<input type="text" class="form-control input-lg" placeholder="email" ng-model="userInfo.username" required><br />
		<input type="password" class="form-control input-lg" placeholder="password" ng-model="userInfo.password" required><br />
		<button type="button" class="btn btn-primary btn-block" ng-click="login(userInfo)" ng-disabled="loginForm.$invalid">Login</button>
	</form>
</div>
