<div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-controller="EntryController">
	<h1>Add Entry</h1>
	<form name="newEntryForm">
		<input type="text" class="form-control input-lg" placeholder="Summary" ng-model="entry.summary" required /><br />
		<input type="text" class="form-control input-lg" placeholder="Notes" ng-model="entry.notes" /><br />
		<input type="number" class="form-control input-lg" placeholder="Duration" ng-model="entry.duration" /><br />
		<input type="text" class="form-control input-lg" placeholder="Category" ng-model="entry.category" /><br />
		<button type="button" class="btn btn-primary btn-block" ng-click="post(entry)" ng-disabled="newEntryForm.$invalid">Submit</button>
	</form>
</div>
