<div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-controller="SignupController">
	<h1>Signup</h1>
	<form name="signupForm">
		<input type="email" class="form-control" placeholder="email" ng-model="user.email" required><br />
		<input type="password" class="form-control" placeholder="password" ng-model="user.password" required><br />
		<input type="text" class="form-control" placeholder="first name" ng-model="user.first_name" required><br />
		<input type="text" class="form-control" placeholder="last name" ng-model="user.last_name" required><br />
		<input type="text" class="form-control"  placeholder="zipcode" ng-model="user.zipcode" required><br />
		<button type="button" class="btn btn-primary btn-block" ng-click="signup(user)" ng-disabled="signupForm.$invalid">Signup</button>
	</form>
</div>
