#notation {
	margin: 0 auto;
}

#sightReadingToolbox {
	position: absolute;
	right: 0;
	top: 100px;
	min-height: 200px;
	padding: 2rem;
	background: black;
	border-bottom-left-radius: 1rem;
	border-top-left-radius: 1rem;
	color: white;
}
